<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Master_Srv</servlet-name>
        <servlet-class>servlet.master.Master_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar_View_Srv</servlet-name>
        <servlet-class>servlets.registro.proyecto.Registrar_View_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proyecto_SRV</servlet-name>
        <servlet-class>servlets.registro.proyecto.Proyecto_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Duenio_SRV</servlet-name>
        <servlet-class>servlets.registro.duenio.Duenio_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Porcentaje_SRV</servlet-name>
        <servlet-class>servlets.registro.porcentaje.Porcentaje_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ver_Proyectos_View_SRV</servlet-name>
        <servlet-class>servlets.ver.proyecto.Ver_Proyectos_View_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioSesion_Srv</servlet-name>
        <servlet-class>servlets.autenticacion.InicioSesion_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BienvenidaControlProyectos_SRV</servlet-name>
        <servlet-class>servlets.bienvenida.BienvenidaControlProyectos_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedireccionaVistas_View_SRV</servlet-name>
        <servlet-class>servlets.ver.proyecto.RedireccionaVistas_View_SRV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pdf_SRV</servlet-name>
        <servlet-class>servlets.ver.pdf.Pdf_SRV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Master_Srv</servlet-name>
        <url-pattern>/Master_Srv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar_View_Srv</servlet-name>
        <url-pattern>/app/registro/Registrar_View_Srv.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proyecto_SRV</servlet-name>
        <url-pattern>/app/registro/Proyecto_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Duenio_SRV</servlet-name>
        <url-pattern>/app/registro/Duenio_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Porcentaje_SRV</servlet-name>
        <url-pattern>/app/registro/Porcentaje_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ver_Proyectos_View_SRV</servlet-name>
        <url-pattern>/app/ver/Ver_Proyectos_View_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BienvenidaControlProyectos_SRV</servlet-name>
        <url-pattern>/app/ingreso/BienvenidaControlProyectos_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion_Srv</servlet-name>
        <url-pattern>/app/autenticacion/IniciarSesion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedireccionaVistas_View_SRV</servlet-name>
        <url-pattern>/app/ver/RedireccionaVistas_View_SRV.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pdf_SRV</servlet-name>
        <url-pattern>/app/ver/Pdf_SRV.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
